@model Jogo

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                @Model?.Nome
            </h2>
        </div>
        <div class="col-3 text-end">
            <a class="btn btn-primary" asp-controller="Jogo" asp-action="Index">
                Voltar
            </a>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-3">
                            App ID
                        </div>
                        <div class="col-5">
                            @Model?.AppId
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            App Type
                        </div>
                        <div class="col-5">
                            @Model?.DetalhesJogo?
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Developer
                        </div>
                        <div class="col-5">
                            TBD
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Publisher
                        </div>
                        <div class="col-5">
                            TBD
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Supported Systems
                        </div>
                        <div class="col-5">
                            TBD
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img src="@Model?.DetalhesJogo?.HeaderImage" />
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Descrição</h2>
        </div>
        <div class="row">
            <p>
                @Html.Raw(Model?.DetalhesJogo?.DetailedDescription)
            </p>
        </div>
    </div>
</div>
