<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Jogo não encontrado</h1>
            <p>O jogo que você está procurando não foi encontrado.</p>
            <a href="@Url.Action("Index", "Home")">Voltar para a página inicial</a>
        </div>
    </div>
</div>