@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url('/img/BG02.jpg') no-repeat center center fixed;
        background-size: cover;
        
    }

    .text {
        color: white;
        height: 350px;
        width: 70%;
        padding: 40px;
        border-radius: 25px;
        margin-left: 18%;
        margin-top: 14%;
    }

        .text h1, .text p {
            color: #ffffff; /* Stronger white color */
        }
</style>
<div class="text-center">

    <div class="text">
        <h1 style="text-align: center; font-weight: bold;">BEM VINDO(AS)</h1>
        <p style="text-align: center;" class="mt-3">
            INFOGAME é o seu portal definitivo para tudo relacionado a jogos, diretamente conectado à Steam. Aqui, você pode acessar instantaneamente as últimas novidades do mundo dos jogos, verificar quais dos seus amigos estão online e explorar todos os jogos da sua biblioteca Steam em um só lugar.

            Descubra os Últimos Lançamentos e Tendências: Mantenha-se atualizado com os jogos mais recentes e as tendências emergentes. Nossa integração com a Steam garante que você nunca perca um lançamento ou uma atualização importante.

            Conecte-se com Amigos: Veja quem está online e pronto para jogar. Com INFOGAME, é fácil sincronizar sessões de jogo e planejar sua próxima aventura multiplayer com amigos.

            Explore Sua Coleção: Acesse facilmente toda a sua coleção de jogos na Steam. Organize seus jogos, acompanhe seu progresso e redescubra tesouros escondidos em sua vasta biblioteca de jogos.

            Se você é um gamer ávido ou apenas um entusiasta casual, INFOGAME é o lugar perfeito para ampliar sua experiência de jogo. Junte-se a nós hoje e transforme a maneira como você joga!
        </p>
    </div>
</div>
