@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <div class="text-center">
        <img src="~/Logo/INFOGAME.png" alt="Logo da Empresa" class="img-fluid" style="height: 200px; width: 200px;">
    </div>    
    <h3> Bem-vindo ao INFOGAME!</h3>
    <p style="text-align: justify;">
        INFOGAME é o seu portal definitivo para tudo relacionado a jogos, diretamente conectado à Steam. Aqui, você pode acessar instantaneamente as últimas novidades do mundo dos jogos, verificar quais dos seus amigos estão online e explorar todos os jogos da sua biblioteca Steam em um só lugar.

        Descubra os Últimos Lançamentos e Tendências: Mantenha-se atualizado com os jogos mais recentes e as tendências emergentes. Nossa integração com a Steam garante que você nunca perca um lançamento ou uma atualização importante.

        Conecte-se com Amigos: Veja quem está online e pronto para jogar. Com INFOGAME, é fácil sincronizar sessões de jogo e planejar sua próxima aventura multiplayer com amigos.

        Explore Sua Coleção: Acesse facilmente toda a sua coleção de jogos na Steam. Organize seus jogos, acompanhe seu progresso e redescubra tesouros escondidos em sua vasta biblioteca de jogos.

        Se você é um gamer ávido ou apenas um entusiasta casual, INFOGAME é o lugar perfeito para ampliar sua experiência de jogo. Junte-se a nós hoje e transforme a maneira como você joga!
    </p>
</div>
